* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

body {
    background-color: black;
    margin: 0px;
}

header {
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 1;
    height: 69px;
}

.nav {
    display: inline-flex;
    background: black;
}

ul {
    list-style: none;
    text-decoration: underline;
}

li {
    margin: 10px;
}

.logo {
    position: relative;
    height: 50px;
    margin-left: 10px;
}

.banner {
    background-image: url("./Resources/img-mission-background.jpg");
    background-size: cover;
    height: 700px;
    width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 69px;
}

.banner-text {
    background-color: black;
    opacity: 1;
    position: relative;
    top: 350px;
    text-align: center;
}

.contact {
    text-align: center;
}

.copyright {
    margin-left: 20px;
}